<!DOCTYPE html>
<html>
	<head>
		<title>Jojo's Quiz App</title>
		<!-- Also look at this example: http://codereview.stackexchange.com/questions/40032/javascript-quiz-app -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>
		<script src="js/main.js"></script>
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class="background-image">
		<div class="container">
			<div class="row" id="quiz-app">
			</div>
			<script type="text/template" id="template-question">
				
				<div class="question-list">
					<div>
						<h3><%= question %></h3>
					</div>
					<div class="radio-buttons">
						<br>
						<% for (var i in choices) { %>
								<h4><input type="radio" name="<%= name %>" value="<%= choices[i] %>"><%= " " + choices[i] %></h4>
								<% if (i !== 0 || i !== choices.length) { %>
									<br>
								<% } %>
					<% } %>
					</div>
					<br>
					<button type="submit" class="btn btn-lg btn-success submit-button" onclick="this.disabled=true;">Submit</button>
				</div>
			</script>
			<br>
			<script type="text/template" id="template-score">
				<div>
					<h4>Score: <%= j       %> out of <%= ></h4>
				</div>
			</script>

			<!-- Begin Quiz Game in quizData.js file -->
			<script src="js/quizData.js"></script>
			<script src="js/bootstrap.min.js"></script>
		</div>
	</body>
</html>
