<!DOCTYPE html>
<html>
	<head>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>
		<script src="main.js"></script>
	</head>
	<body>
		<div id="quiz-app"></div>
		<script type="text/template" id="template-question">
			<div>
				<h2><%= question %></h2>
				<% for (var i in choices) { %>
					<input type="radio" name="<%= name %>" value="<%= choices[i] %>"><%= choices[i] %>
				<% } %>
				<input type="submit">
			</div>
		</script>
		<script>
			var myFancyQuizData = {
				quizTitle: "This is Way's Fancy Quiz",
				questions: [
					{
						question: "What is the capital of Texas?",
						answer: "Austin",
						name: "capital",
						choices: [
							"Austin",
							"Germany",
							"Novascotia"
						]
					},
					{
						question: "What is Way's favorite color?",
						answer: "green",
						name: "color",
						choices: [
							"green",
							"blah",
							"vomit color"
						]
					},
					{
						question: "What is the greatest language?",
						name: "language",
						answer: "JavaScript",
						choices: [
							"JavaScript",
							"Scala",
							"Clojure",
							"Ruby"
						]
					}
				]
			};

			Quizzy.start('#quiz-app', myFancyQuizData);
		</script>
	</body>
</html>
